
/* ЧЕМ МЫ ЗАНИМАЕМСЯ - ФОТО ПЛЮС ТЕКСТ  */

.work {
       padding-top: 0;

       &__title {
    font-weight: 700;
    font-size: 36px;
    line-height: 1.16;
    text-align: center;
    letter-spacing: 0.03em;

    color: var(--primary-text-color);
    margin-bottom: 50px;
       }

       &__list {
    display: flex;
    justify-content: space-between;

       }

       &__img {
        display: flex;
        position: relative;
        margin-right: 30px;
       }

       &__img:last-child {
        margin-right: 0;
}

